@include tablet {
    .about-us {
        @include grid(2,2rem);
    }
}
.text-about {
    width: 100%;

    p:first-of-type {
        margin: 2rem;
    }

    @include tablet {
        p:first-of-type {
            margin: 0rem;
        }
    
    }
    span {
        font-weight: $black;
        margin: 0;
        font-size: 2.2rem;
    }


}