.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet{
        align-items: flex-end;
    }
    .dark-mode-btn{
        margin-top: 3rem;
        margin-bottom:3rem ;
        width: 3rem;
        filter: invert(100%);
        &:hover{
            cursor: pointer;
        }
        @include tablet{
            margin-top: 0;
        }
    }


}
.bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    // align-items: flex-end;
    padding-top: 3rem;
    @include tablet{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}
.navigation-bar{
    height: 0;
    opacity: 0;
    visibility: hidden;
    @include tablet{
        height: auto;
        opacity: 1;
        visibility: visible;
        display: flex;
        flex-direction: row;
    }
    a{
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: inline-block;
        text-align: center;
        width: 100%;
        transition: color 0.5s ease-in-out;
        &:hover{
            color: $verde;
        }
        @include tablet{
            margin-right: 2rem;
            font-size: 1.8rem;
            border: none;
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}

// Menu Hamburguesa
.mobile-menu{
    @include tablet{
        display: none;
    }
    img{
        margin-top: 2rem;
        margin-bottom: 1rem;
        width: 4rem;
    }
}
// this class shows the navigation bar
.show{
    visibility: visible;
    opacity: 1;
    height: auto;
    transition: visibility .5s ease-in-out, opacity .5s linear, height .5s linear;
}